<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>坚果说</title>
    <%include shared/head_script.html%>
</head>

<body class="reader-black-font" lang="zh-CN">
    <div class="sk-three-bounce" id="loading" style="display:none;">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <%include shared/user.html%>
        </div>
    </nav>
    <div class="container index">
        <div class="row">
            <div class="col-xs-16 main">
                <div class="recommend-collection">
                    <div class="top-line" id="topic-list-container">
                    </div>
                </div>
                <div id="content-list-container">
                    页面找不到了
                </div>
            </div>
        </div>
        <div class="side-tool">
            <ul>
                <li class="back-top"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
            </ul>
        </div>
        <footer class="container">
            <div class="row">
                <div class="col-xs-17 main">
                    <a href="#">关于橙子</a>
                    <em> · </em>
                    <a href="#">联系我们</a>
                    <em> · </em>
                    <a href="#">作者成书计划</a>
                    <em> · </em>
                    <a href="#">帮助中心</a>
                    <em> · </em>
                    <a href="#">合作伙伴</a>
                    <div class="icp">
                        ©2017-2020 橙子 / 京ICP备xxxxxxx号-x
                    </div>
                </div>
            </div>
        </footer>
        <%include shared/script.html%>
</body>

</html>