<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>坚果说</title>
    <link rel="stylesheet" media="all" href="/css/web.css">
    <link rel="stylesheet" media="all" href="/css/entry.css">
    <link rel="stylesheet" media="all" href="/css/base.css">
</head>

<body class="reader-black-font" lang="zh-CN">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <%include shared/user.html%>
        </div>
    </nav>
    <div class="container index">
        <div class="row">
            <div class="col-xs-16 main">
                <div class="recommend-collection">
                    <div class="top-line">
                        <div class="row">
                            <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/td">
                                <img src="img/a.jpg" alt="195">
                                <div class="name">漫画·手绘</div>
                                <div class="mask"></div>
                            </a>
                            <a class="col-xs-4 col-lg-3" target="_blank" href="/t">
                                <div class="more-hot-collection">更多热门专题
                                    <i class="iconfont ic-link"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="list-container">
                    <!-- 文章列表模块 -->
                    <ul class="note-list">
                        <li class="have-img">
                            <a class="wrap-img" href="#" target="_blank">
                                <img src="img/aaa.jpg">
                            </a>
                            <div class="content">
                                <div class="author">
                                    <a class="avatar" target="_blank" href="#">
                                        <img src="img/aa.jpg" alt="96">
                                    </a>
                                    <div class="name">
                                        <a class="blue-link" target="_blank" href="#">joanren</a>
                                        <span class="time" data-shared-at="2017-02-03T08:08:25+08:00">4 小时前</span>
                                    </div>
                                </div>
                                <a class="title" target="_blank" href="/p">假期结束 祝你快乐</a>
                                <p class="abstract">
                                    岁末，各类横飞的红包雨之中，收到一个创业者的短信： “今天走着走着，突然想到创业就像一场高考。一个你不经历一次，你都会觉得自己人生不完整的一次经历。一个你不经历一次，你就无法...
                                </p>
                                <div class="meta">
                                    <a class="collection-tag" target="_blank" href="#">散文</a>
                                    <a target="_blank" href="#">
                                        <i class="iconfont ic-list-read"></i> 1865
                                    </a>
                                    <a target="_blank" href="#">
                                        <i class="iconfont ic-list-comments"></i> 5
                                    </a> <span><i class="iconfont ic-list-like"></i> 33</span>
                                    <span><i class="iconfont ic-list-money"></i> 10</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-tool">
            <ul>
                <li class="back-top"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
            </ul>
        </div>
        <footer class="container">
            <div class="row">
                <div class="col-xs-17 main">
                    <a href="#">关于橙子</a>
                    <em> · </em>
                    <a href="#">联系我们</a>
                    <em> · </em>
                    <a href="#">作者成书计划</a>
                    <em> · </em>
                    <a href="#">帮助中心</a>
                    <em> · </em>
                    <a href="#">合作伙伴</a>
                    <div class="icp">
                        ©2017-2020 橙子 / 京ICP备xxxxxxx号-x
                    </div>
                </div>
            </div>
        </footer>
        <%include shared/script.html%>
            <script>
                var d = 0.1;
                var maxN = 10;
                var minN = 0;
                var i = 1;
                var compute = function(min, max) {
                    ++i;
                    console.log(i);
                    var n = (max - min) / 2 + min;
                    var f = (n * n - maxN).toFixed(1);
                    if (f < d) {
                        compute(n, max);
                    } else if (f > d) {
                        compute(min, n);
                    } else {

                        console.log(n);
                        return;
                    }
                }
                compute(minN, maxN);
            </script>
</body>

</html>