<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>旅行·在路上 - 专题 - 坚果说</title>
    <%include shared/head_script.html%>
</head>

<body lang="zh-CN" class="reader-black-font">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <%include shared/user.html%>
        </div>
    </nav>
    <div class="container collection">
        <div class="row">
            <div class="col-xs-16 main">
                <!-- 专题头部模块 -->
                <div class="main-top">
                    <a class="avatar-collection" href="/">
                        <img src="http://upload.jianshu.io/collections/images/13/IMG_3003.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="240" />
                    </a>
                    <a class="btn btn-success follow">
                        <i class="iconfont ic-follow"></i>
                        <span>关注</span>
                    </a>
                    <div class="btn btn-hollow js-contribute-button">
                        投稿
                    </div>
                    <div class="title">
                        <a class="name" href="/">旅行·在路上</a>
                    </div>
                    <div class="info">
                        收录了29609篇文章 · 667848人关注 · 4000k字
                    </div>
                </div>
                <ul class="trigger-menu" data-pjax-container="#list-container">
                    <li class="active">
                        <a href="/">
                            <i class="iconfont ic-latestcomments"></i> 最新评论
                        </a>
                    </li>
                    <li class=""><a href="/"><i class="iconfont ic-articles"></i> 最新收录</a></li>
                    <li class=""><a href="/"><i class="iconfont ic-hot"></i> 热门</a></li>
                </ul>
                <div id="content-list-container">
                </div>
            </div>
        </div>
    </div>
    <div data-vcomp="side-tool"></div>
    <%include shared/script.html%>
        <script src="/dist/list.bundle.js"></script>
</body>

</html>