<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>旅行·在路上 - 专题 - 坚果说</title>
    <link rel="stylesheet" media="all" href="/css/web.css">
    <link rel="stylesheet" media="all" href="/css/entry.css">
    <link rel="stylesheet" media="all" href="/css/list.css">
</head>

<body lang="zh-CN" class="reader-black-font">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <%include shared/user.html%>
        </div>
    </nav>
    <div class="container collection">
        <div class="row">
            <div class="col-xs-16 main">
                <!-- 专题头部模块 -->
                <div class="main-top">
                    <a class="avatar-collection" href="/">
                        <img src="http://upload.jianshu.io/collections/images/13/IMG_3003.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="240" />
                    </a>
                    <a class="btn btn-success follow">
                        <i class="iconfont ic-follow"></i>
                        <span>关注</span>
                    </a>
                    <div class="btn btn-hollow js-contribute-button">
                        投稿
                    </div>
                    <div class="title">
                        <a class="name" href="/">旅行·在路上</a>
                    </div>
                    <div class="info">
                        收录了29609篇文章 · 667848人关注 · 4000k字
                    </div>
                </div>
                <ul class="trigger-menu" data-pjax-container="#list-container">
                    <li class="active">
                        <a href="/">
                            <i class="iconfont ic-latestcomments"></i> 最新评论
                        </a>
                    </li>
                    <li class=""><a href="/"><i class="iconfont ic-articles"></i> 最新收录</a></li>
                    <li class=""><a href="/"><i class="iconfont ic-hot"></i> 热门</a></li>
                </ul>
                <div id="list-container">
                    <!-- 文章列表模块 -->
                    <ul class="note-list" infinite-scroll-url="/c/5AUzod?order_by=commented_at">
                        <li id="note-10375750" data-note-id="10375750" class="have-img">
                            <a class="wrap-img" href="/p/a8864190c58e" target="_blank">
                                <img src="http://upload-images.jianshu.io/upload_images/2859726-8e43f5c55b927a34.png?imageMogr2/auto-orient/strip%7CimageView2/1/w/300/h/240">
                            </a>
                            <div class="content">
                                <div class="author">
                                    <a class="avatar" target="_blank" href="/u/80f725a8adfd">
                                        <img src="http://upload.jianshu.io/users/upload_avatars/2859726/1cf1122b842a.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96" />
                                    </a>
                                    <div class="name">
                                        <a class="blue-link" target="_blank" href="/u/80f725a8adfd">生活小咖</a>
                                        <span class="time" data-shared-at="2017-03-20T11:33:50+08:00"></span>
                                    </div>
                                </div>
                                <a class="title" target="_blank" href="/p/a8864190c58e">来山东必去的十大旅游景点（下）</a>
                                <p class="abstract">
                                    山东青岛海底世界 青岛海底世界主要由潮间带、海底隧道和地下四层观光建筑三大部分构成，展示部分完全在地下。潮间带长35米；海底隧道长86.2米，宽2.5米，隧道拱形玻璃的弧度采...
                                </p>
                                <div class="meta">
                                    <a target="_blank" href="/p/a8864190c58e">
                                        <i class="iconfont ic-list-read"></i> 40
                                    </a>
                                    <a target="_blank" href="/p/a8864190c58e#comments">
                                        <i class="iconfont ic-list-comments"></i> 3
                                    </a> <span><i class="iconfont ic-list-like"></i> 3</span>
                                </div>
                            </div>
                        </li>
                        <li id="note-10358892" data-note-id="10358892" class="have-img">
                            <a class="wrap-img" href="/p/1ef5f60244cf" target="_blank">
                                <img src="http://upload-images.jianshu.io/upload_images/3224034-53e339b2dda99ca5.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/300/h/240">
                            </a>
                            <div class="content">
                                <div class="author">
                                    <a class="avatar" target="_blank" href="/u/f38a5e794da5">
                                        <img src="http://upload.jianshu.io/users/upload_avatars/3224034/eb55558a6eeb.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96" />
                                    </a>
                                    <div class="name">
                                        <a class="blue-link" target="_blank" href="/u/f38a5e794da5">阿七的蓝莓汁</a>
                                        <span class="time" data-shared-at="2017-03-19T20:02:37+08:00"></span>
                                    </div>
                                </div>
                                <a class="title" target="_blank" href="/p/1ef5f60244cf">烟雨蒙蒙金陵城</a>
                                <p class="abstract">
                                    这是离家的第三天，南京的第三天。 2017年2月18日﻿ 虽说我觉得一个人很好，自由又潇洒，可我还是心心念念一件事，固执的一定要去求姻缘，不管是在哪儿。于是，我求姻缘的足迹渐...
                                </p>
                                <div class="meta">
                                    <a target="_blank" href="/p/1ef5f60244cf">
                                        <i class="iconfont ic-list-read"></i> 80
                                    </a>
                                    <a target="_blank" href="/p/1ef5f60244cf#comments">
                                        <i class="iconfont ic-list-comments"></i> 6
                                    </a> <span><i class="iconfont ic-list-like"></i> 8</span>
                                </div>
                            </div>
                        </li>
                        <li id="note-10374486" data-note-id="10374486" class="have-img">
                            <a class="wrap-img" href="/p/f52b84aa6afd" target="_blank">
                                <img src="http://upload-images.jianshu.io/upload_images/4559986-c2d3e6d7e2b62b5c.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/300/h/240">
                            </a>
                            <div class="content">
                                <div class="author">
                                    <a class="avatar" target="_blank" href="/u/56fc6abd405d">
                                        <img src="http://upload.jianshu.io/users/upload_avatars/4559986/ba0262f22f07.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96" />
                                    </a>
                                    <div class="name">
                                        <a class="blue-link" target="_blank" href="/u/56fc6abd405d">云杉猎户</a>
                                        <span class="time" data-shared-at="2017-03-20T08:14:56+08:00"></span>
                                    </div>
                                </div>
                                <a class="title" target="_blank" href="/p/f52b84aa6afd">西藏一行，直达珠峰（拉萨篇）</a>
                                <p class="abstract">
                                    翻电脑时，发现了一些照片。最近不想写故事，就分享一下游记吧。好几年前，和朋友一起去的西藏。开始只是一个玩笑，没想到后来就真的去了。那天下午突然决定要去看看，网上刷到了两张票，...
                                </p>
                                <div class="meta">
                                    <a target="_blank" href="/p/f52b84aa6afd">
                                        <i class="iconfont ic-list-read"></i> 93
                                    </a>
                                    <a target="_blank" href="/p/f52b84aa6afd#comments">
                                        <i class="iconfont ic-list-comments"></i> 12
                                    </a> <span><i class="iconfont ic-list-like"></i> 10</span>
                                </div>
                            </div>
                        </li>
                        <li id="note-10384161" data-note-id="10384161" class="have-img">
                            <a class="wrap-img" href="/p/a7e5c849cca9" target="_blank">
                                <img src="http://upload-images.jianshu.io/upload_images/2303917-1ece674ad1f4ec98.jpg?imageMogr2/auto-orient/strip%7CimageView2/1/w/300/h/240">
                            </a>
                            <div class="content">
                                <div class="author">
                                    <a class="avatar" target="_blank" href="/u/8c7cf9649a70">
                                        <img src="http://upload.jianshu.io/users/upload_avatars/2303917/743913728247.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96" />
                                    </a>
                                    <div class="name">
                                        <a class="blue-link" target="_blank" href="/u/8c7cf9649a70">十里姜场</a>
                                        <span class="time" data-shared-at="2017-03-20T13:05:11+08:00"></span>
                                    </div>
                                </div>
                                <a class="title" target="_blank" href="/p/a7e5c849cca9">西北，农村</a>
                                <p class="abstract">

                                </p>
                                <div class="meta">
                                    <a target="_blank" href="/p/a7e5c849cca9">
                                        <i class="iconfont ic-list-read"></i> 61
                                    </a>
                                    <a target="_blank" href="/p/a7e5c849cca9#comments">
                                        <i class="iconfont ic-list-comments"></i> 11
                                    </a> <span><i class="iconfont ic-list-like"></i> 4</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div data-vcomp="side-tool"></div>
    <%include shared/script.html%>
</body>

</html>