<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>登录 - 坚果说</title>
    <link rel="stylesheet" href="/css/web.css">
    <link rel="stylesheet" href="/css/entry.css">
    <link rel="stylesheet" href="/css/sign.css">
</head>

<body class="no-padding reader-black-font" lang="zh-CN">
    <div class="sign">
        <div class="logo">
            <a href="/">
                <h1>坚果说</h1>

            </a>
        </div>
        <div class="main">
            <h4 class="title">
                <div class="normal-title">
                    <a class="active" href="/login">登录</a>
                    <b>·</b>
                    <a id="js-sign-up-btn" class="" href="/reg">注册</a>
                </div>
            </h4>
            <div class="js-sign-in-container">
                <form id="formData">
                    <div class=" input-prepend restyle js-normal ">
                        <input placeholder="手机号" id="txt_phone" type="text">
                        <i class="iconfont ic-user"></i>
                    </div>
                    <div class="input-prepend">
                        <input placeholder="密码" id="txt_pwd" type="password">
                        <i class="iconfont ic-password "></i>
                    </div>
                    <div class="remember-btn ">
                        <input checked="checked" id="remember" type="checkbox">
                        <span>记住我</span>
                    </div>
                    <div class="forget-btn ">
                        <a href=" ">找回密码?</a>
                    </div>
                    <input value="登录" id="btnLogin" class="sign-in-button" type="button">
                </form>
            </div>
        </div>
    </div>
    <script src=" /js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var Login = function() {
                this.phone = '';
                this.pwd = '';
                var _self = this;
                var setValue = function() {
                    _self.phone = $('#txt_phone').val();
                    _self.pwd = $('#txt_pwd').val();
                };
                var verify = function() {
                    setValue();
                    if (_self.phone.length == 0) {
                        alert('手机号不能为空');
                        return false;
                    }
                    var reg = /^1[3|4|5|7|8][0-9]\d{8}$|^\d{8}$/;
                    if (!reg.test(_self.phone)) {
                        alert('手机号格式不正确');
                        return false;
                    }
                    if (_self.pwd.length == 0) {
                        alert('密码不能为空');
                        return false;
                    }
                    return true;
                };
                this.login = function() {
                    if (verify()) {
                        var _self = this;
                        $.post('/login', {
                            phone: _self.phone,
                            pwd: _self.pwd
                        }, function(result) {
                            if (result.error) {
                                alert(result.message);
                            } else {
                                alert(result.message);
                                window.location.href = '/';
                            }
                        });
                    }
                };
                this.init = function() {
                    var _self = this;
                    $('#btnLogin').off().on('click', function() {
                        _self.login();
                    });
                };
            };
            new Login().init();
        });
    </script>
</body>

</html>