<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>登录 - 坚果说</title>
</head>

<body class="no-padding reader-black-font" lang="zh-CN">
    <div class="sign">
        <div class="logo">
            <a href="/">
                <h1>坚果说</h1>

            </a>
        </div>
        <div class="main">
            <h4 class="title">
                <div class="normal-title">
                    <a class="active" href="/login">登录</a>
                    <b>·</b>
                    <a id="js-sign-up-btn" class="" href="/reg">注册</a>
                </div>
            </h4>
            <div class="js-sign-in-container">
                <form id="formData">
                    <div class=" input-prepend restyle js-normal ">
                        <input placeholder="手机号" id="txt_phone" type="text">
                        <i class="iconfont ic-user"></i>
                    </div>
                    <div class="input-prepend">
                        <input placeholder="密码" id="txt_pwd" type="password">
                        <i class="iconfont ic-password "></i>
                    </div>
                    <div class="remember-btn ">
                        <input checked="checked" id="remember" type="checkbox">
                        <span>记住我</span>
                    </div>
                    <div class="forget-btn ">
                        <a href=" ">找回密码?</a>
                    </div>
                    <input value="登录" id="btnLogin" class="sign-in-button" type="button">
                </form>
            </div>
        </div>
    </div>
    <script src=" /js/jquery/jquery-2.1.1.min.js"></script>
    <script src="/dist/login.bundle.js"></script>
</body>

</html>