<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>热门专题 - 坚果说</title>
    <link rel="stylesheet" media="all" href="/css/web.css">
    <link rel="stylesheet" media="all" href="/css/entry.css">
    <link rel="stylesheet" media="all" href="/css/types.css">
</head>

<body class="reader-black-font" lang="zh-CN">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="width-limit">
            <%include shared/user.html%>
        </div>
    </nav>
    <div class="container recommend">
        <img class="recommend-banner" src="/img/recommend-collection-58f8968955ecbeb8f8f3b4cd95ec76be.png" alt="Recommend collection">
        <ul class="trigger-menu" data-pjax-container="#list-container">
            <li class="active">
                <a href="/"><i class="iconfont ic-recommend"></i> 推荐</a>
            </li>
            <li class="">
                <a href="/"><i class="iconfont ic-hot"></i> 热门</a>
            </li>
            <li class="">
                <a href="/"><i class="iconfont ic-city"></i> 城市</a>
            </li>
        </ul>
        <div class="row" id="topic_list_container">
        </div>
        <a class="btn btn-danger load-more-btn" href="">加载更多</a>
    </div>

    <%include shared/script.html%>
        <script type="text/babel" src="/js/react/topic.js"></script>
</body>

</html>