<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>写文章 - 坚果说</title>
    <link rel="stylesheet" href="/css/writer/writer.css">
    <link rel="stylesheet" href="/css/writer/base.css">
    <link rel="stylesheet" href="/js/plugins/editor.md/css/editormd.min.css">
</head>

<body class="input zh cn win mozilla reader-day-mode reader-font2">
    <div class="container-fluid">
        <div class="stack expansion">
            <div class="row-fluid normal-mode active">
                <div class="span2 aside" style="height:700px;">
                    <div class="home-wrap">
                        <a href="/" class="go-home">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>回首页</span>
                        </a>
                    </div>
                    <div class="new-notebook">
                        <a href="javascript:void(0)" id="btnCreateContent" class="create-notebook win-text">
                            <i class="fa fa-plus"></i> 新建文章
                        </a>
                    </div>
                    <ul class="nav nav-list notebooks ui-sortable" id="ulContentList">
                    </ul>
                </div>
                <div class="main">
                    <form class="note-form rich-text">
                        <input class="title mousetrap" id="txtTitle" placeholder="请填写文章标题" type="text">
                        <div id="editormd" style="height: 700px;">
                            <textarea id="txtContent" style="display: none; height:700px;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" id="fileForm" action="/editor.md/upload" enctype="multipart/form-data">
        <input type="file" id="imgUpload" name="imgUpload" style="display:none;" />
    </form>
    <script type="text/html" id="contentItem">
        {{each list as item i}}
        <li class="one-notebook item {{item.is_active?'active':''}}" data-content_id="{{item.id}}">
            <a href="javascript:void(0)" class="notebook-name">
                <span>{{item.title}}</span>
            </a>
            <a href="javascript:void(0)" data-type='delete' class="edit-notebook">
                <i class="fa fa-trash-o"></i>
            </a>
        </li>
        {{/each}}
    </script>
    <script src=" /js/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/plugins/editor.md/editormd.min.js"></script>
    <script src="/js/jquery/jquery.form.js"></script>
    <script src="/js/template.js"></script>
    <script type="text/javascript">
        $(function() {
            var Writer = function() {
                var _bindClick = function() {
                    $('#ulContentList li').off().on('click', function() {
                        $(this).addClass('active').siblings().removeClass('active');
                        $('#txtTitle').val($(this).find('span').html());
                        var content_id = $(this).data('content_id');
                        if (content_id != '0') {
                            $.post("/get_user_content_detail", {
                                content_id: content_id
                            }, function(result) {
                                if (!result.error) {
                                    $('#txtTitle').val(result.data.title).data('content_id', content_id);
                                    _editor.setMarkdown(decodeURIComponent(result.data.markdown));
                                } else {
                                    alert(result.message);
                                }
                            });
                        }
                    });
                    $('#ulContentList li a[data-type="delete"]').off().on('click', function() {
                        var objLi = $(this).parent();
                        var content_id = objLi.data('content_id');
                        if (content_id != '0') {
                            $.post("/delete_content", {
                                content_id: content_id
                            }, function(result) {
                                if (!result.error) {
                                    objLi.remove();
                                    _editor.setMarkdown('');
                                    $('#txtTitle').val('');
                                } else {
                                    alert(result.message);
                                }
                            });
                        } else {
                            objLi.remove();
                        }
                        return false;
                    });
                };
                var _editor = this.editor;
                var _autoSave = function() {
                    var title = $('#txtTitle').val(),
                        id = $('#txtTitle').data('content_id'),
                        html = _editor.getHTML(),
                        markdown = _editor.getMarkdown();

                    if (title.length == 0) {
                        alert('标题不能为空');
                        return;
                    }
                    if (html.length == 0 || markdown.length == 0) {
                        alert('内容不能为空');
                        return;
                    }
                    $.post('/save_content', {
                        content_id: id,
                        title: title,
                        content: encodeURIComponent(html),
                        markdown: encodeURIComponent(markdown),
                        typeid: '0000'
                    }, function(result) {
                        if (!result.error) {
                            $('#ulContentList li.one-notebook.item.active').find('span').html(title).data('content_id', result.data.content_id);
                            $('#txtTitle').data('content_id', result.data.content_id);
                            //alert(result.message);
                        } else {
                            alert(result.message);
                        }
                    });

                };
                this.initData = function() {
                    $.post('/get_user_contents', {
                        page_index: 1,
                        page_size: 12,
                        key: "",
                        typeid: ''
                    }, function(result) {
                        if (!result.error) {
                            var data = {
                                list: result.data
                            };
                            var html = template('contentItem', data);
                            $("#ulContentList").html(html);
                            _bindClick();
                        } else {
                            alert(result.message);
                        }
                    });
                };
                this.init = function() {
                    var _self = this;
                    $('#btnCreateContent').off().on('click', function() {
                        $('#ulContentList li').removeClass('active');
                        var html = template('contentItem', {
                            list: [{
                                id: 0,
                                title: '未命名内容',
                                is_active: true
                            }]
                        });
                        $('#ulContentList').append(html);
                        _bindClick();
                    });
                    _self.initData();
                    _editor = editormd("editormd ", {
                        width: "100%",
                        height: 700,
                        path: "/js/plugins/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
                        watch: false,
                        toolbarIcons: function() {
                            return ["undo", "redo", "|", "bold", "del", "italic", "quote", "hr", "|", "h1", "h2", "h3", "h4", "h5", "|", "list-ul", "list-ol", "link", "upload", "code-block", "|", "watch", "preview", "fullscreen", "|", "save"]
                        },
                        saveHTMLToTextarea: true,
                        toolbarIconTexts: {
                            save: "保存" // 如果没有图标，则可以这样直接插入内容，可以是字符串或HTML标签
                        },
                        onchange: function() {
                            _autoSave();
                        },
                        toolbarCustomIcons: {
                            upload: '<label for="imgUpload" class="fa fa-picture-o" title="上传图片"></label>',
                        },
                        toolbarHandlers: {
                            save: function(cm, icon, cursor, selection) {
                                _autoSave();
                            },
                        },
                        onload: function() {
                            $('#imgUpload').on('change', function() {
                                $('#fileForm').ajaxSubmit(function(res) {
                                    if (res.error) {
                                        alert(res.message);
                                    } else {
                                        var img = '![](' + res.data.url + '  "")';
                                        editor.cm.replaceSelection(img);
                                    }
                                });
                            });
                        }
                    });
                };
            };

            new Writer().init();
        });
    </script>
</body>

</html>