<!DOCTYPE html>
<html>

<head>
    <%include ../shared/header.html%>
        <link href="/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <%include ../shared/nav.html%>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <%include ../shared/page_top.html%>
                    <%include ../shared/header_title.html%>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>类型列表</h5>
                                            <div class="ibox-tools">
                                                <button type="button" onclick="javascript: window.location.href = '/type/form'" class="btn btn-primary btn-xs">&nbsp;&nbsp;添&nbsp;加&nbsp;&nbsp;</button>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>编号</th>
                                                            <th>名称</th>
                                                            <th>类型</th>
                                                            <th>图标</th>
                                                            <th>文章数</th>
                                                            <th>关注数</th>
                                                            <th>描述</th>
                                                            <th>创建日期</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%if(list.length>0){%>
                                                            <%list.forEach(function(i){%>
                                                                <tr>
                                                                    <td>
                                                                        <%=i.no%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.name%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.type%>
                                                                    </td>
                                                                    <td>
                                                                        <label class="btn btn-white" style="height: 40px;width: 40px; padding: 5px 5px;">
                                                              <img alt="图标" class="fancybox" data-fancybox-title="<%=i.name%>" src="<%=i.img%>" style="width: 100%;height: 100%;" title="点击查看图标">
                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.content_count%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.focus_count%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.des%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.create_date%>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/type/form?id=<%=i._id%>"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
                                                                    </td>
                                                                </tr>
                                                                <%})%>
                                                                    <%}else{%>
                                                                        <tr>
                                                                            <td colspan="4" style="text-align:center;" id="noResult">
                                                                                <h5>暂无数据</h5>
                                                                            </td>
                                                                        </tr>
                                                                        <%}%>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <tr>
                                                                <td colspan="2" style="text-align:left;" id="paginationText">显示 1 到 10 项，共
                                                                    <%=pagination.total%> 项</td>
                                                                <td colspan="7" style="text-align:right;">
                                                                    <ul class="pagination" id="pagination" style="margin:0 auto;" data-total="<%=pagination.total%>" data-size="<%=pagination.size%>" data-index="<%=pagination.index%>" data-url="/type?index=">
                                                                        <li class="paginate_button previous disabled" id="previous">
                                                                            <a href="javascript:void(0);">上一页</a>
                                                                        </li>
                                                                        <li class="paginate_button">
                                                                            <div style="float:left;">
                                                                                <select style="width:40px;height:28px;margin:0 auto;text-align:center;" id="jump">
                                                                    <%for(var i=0;i
                                                                    <pagination.pages;i++){%>
                                                                        <option><%=(i+1)%></option>
                                                                        <%}%>
                                                                </select>
                                                                            </div>
                                                                        </li>
                                                                        <li class="paginate_button next" id="next">
                                                                            <a href="javascript:void(0);">下一页</a>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%include ../shared/footer.html%>
            </div>
    </div>
    <%include ../shared/script.html%>
        <script src="/plugins/fancybox/jquery.fancybox.js"></script>
        <script>
            $(function() {
                $('.fancybox').fancybox({
                    openEffect: 'none',
                    closeEffect: 'none'
                });
            });
        </script>
</body>

</html>