<!DOCTYPE html>
<html>

<head>
    <%include ../shared/header.html%>
        <link href="/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <%include ../shared/nav.html%>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <%include ../shared/page_top.html%>
                    <%include ../shared/header_title.html%>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="m-b-md">
                                                <div class="ibox-tools">
                                                    <button type="button" onclick="javascript: window.location.href = '/template/form?id=<%=template.id%>'" class="btn btn-primary btn-xs">&nbsp;&nbsp;编&nbsp;辑&nbsp;&nbsp;</button>
                                                    <button type="button" class="btn btn-white btn-xs" onclick="javascript: window.location.href = '/template'" type="button">&nbsp;&nbsp;返&nbsp;回&nbsp;&nbsp;</button>
                                                </div>
                                                <h2>
                                                    <%=template.name%>
                                                </h2>
                                            </div>
                                            <dl class="dl-horizontal">
                                                <dt>状态：</dt>
                                                <dd><span class="label label-primary"><%=(template.is_blocked==true?"未启用":"启用")%></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <dl class="dl-horizontal">

                                                <dt>名称：</dt>
                                                <dd>
                                                    <%=template.name%>
                                                </dd>
                                                <dt>类型：</dt>
                                                <dd>
                                                    <%=template.type.name%>
                                                        <input type="hidden" id="hidDataSearchType" value="<%=template.type.code%>">
                                                </dd>
                                                <dt>创建时间：</dt>
                                                <dd>
                                                    <%=template.create_date%>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="col-lg-7" id="cluster_info">
                                            <dl class="dl-horizontal">

                                                <dt>编码：</dt>
                                                <dd>
                                                    <%=template.code%>
                                                </dd>
                                                <dt>描述：</dt>
                                                <dd>
                                                    <%=template.des%>
                                                </dd>
                                                <dt>更新时间：</dt>
                                                <dd>
                                                    <%=template.update_date%>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>数据列表</h5>
                                            <div class="ibox-tools">
                                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#dataSearchModal">&nbsp;&nbsp;添&nbsp;加&nbsp;&nbsp;</button>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>编号</th>
                                                            <th>名称</th>
                                                            <th>图片</th>
                                                            <th>创建日期</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%if(list.length>0){%>
                                                            <%list.forEach(function(i){%>
                                                                <tr>
                                                                    <td>
                                                                        <%=i.no%>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.name%>
                                                                    </td>
                                                                    <td>
                                                                        <label class="btn btn-white" style="height: 40px;width: 40px; padding: 5px 5px;">
                                                              <img alt="图标" class="fancybox" data-fancybox-title="<%=i.name%>" src="<%=i.img%>" style="width: 100%;height: 100%;" title="点击查看图标">
                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <%=i.create_date%>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/template/form?id=<%=i._id%>"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
                                                                        <a href="/template/data?id=<%=i._id%>"><i class="fa fa-database"></i></a>&nbsp;
                                                                    </td>
                                                                </tr>
                                                                <%})%>
                                                                    <%}else{%>
                                                                        <tr>
                                                                            <td colspan="5" style="text-align:center;" id="noResult">
                                                                                <h5>暂无数据</h5>
                                                                            </td>
                                                                        </tr>
                                                                        <%}%>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <tr>
                                                                <td colspan="2" style="text-align:left;" id="paginationText">显示 1 到 10 项，共
                                                                    <%=pagination.total%> 项</td>
                                                                <td colspan="7" style="text-align:right;">
                                                                    <ul class="pagination" id="pagination" style="margin:0 auto;" data-total="<%=pagination.total%>" data-size="<%=pagination.size%>" data-index="<%=pagination.index%>" data-url="/template?index=">
                                                                        <li class="paginate_button previous disabled" id="previous">
                                                                            <a href="javascript:void(0);">上一页</a>
                                                                        </li>
                                                                        <li class="paginate_button">
                                                                            <div style="float:left;">
                                                                                <select style="width:40px;height:28px;margin:0 auto;text-align:center;" id="jump">
                                                                    <%for(var i=0;i
                                                                    <pagination.pages;i++){%>
                                                                        <option><%=(i+1)%></option>
                                                                        <%}%>
                                                                </select>
                                                                            </div>
                                                                        </li>
                                                                        <li class="paginate_button next" id="next">
                                                                            <a href="javascript:void(0);">下一页</a>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%include ../shared/footer.html%>
            </div>
    </div>
    <%include ../shared/script.html%>
        <script src="/plugins/fancybox/jquery.fancybox.js"></script>
        <script>
            $(function() {
                $('.fancybox').fancybox({
                    openEffect: 'none',
                    closeEffect: 'none'
                });
                var searchUrl = '';
                switch ($('#hidDataSearchType').val()) {
                    case '0000000':
                        searchUrl = '/';
                        break;
                    case '0000001':
                        searchUrl = '/';
                        break;
                    case '0000002':
                        searchUrl = '/type/search';
                        break;
                    default:
                        searchUrl = "/content/search";
                        break;

                }
                $('#txtDataSearchModalKey').off().on('input paste', function() {
                    $.post(searchUrl, {
                        key: $(this).val()
                    }, function(result) {
                        if (!result.error) {
                            var html = [];
                            $(result.data).each(function() {
                                html.push('<option value="' + this.id + '">' + this.name + '</option>');
                            });
                            $('#selDataList').html(html.join(''));
                        }
                    });
                });

                $('#dataSearchModalBtnSearch')
                $('#txtDataSearchModalBtnSave')

            });
        </script>
</body>

</html>